.main{
	margin:0px;
	padding:0px;	
	width:1320px;
	height:1500px;
    display:flex;
    margin:auto;
    background-color:#849701;}
	
.buttonbox{
	min-width:500px;
	min-width:800px;
    height:1500px;
    display:flext;
    margin:auto;
	margin-top:50px;
	background-color:purple;
}

.button{
	width:300px;
	height:60px;
	display:block;
	border:1px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:10px 10px 18px 5px purple;
	box-shadow:inset 0px 4px 10px 5px blue;
	margin-top:20px;	
	margin-bottom:40px;
	margin-left:300px;	
	font-size:20px;
	font-weight:bold;
	
	cursor:pointer;
}
.button:hover{
	width:300px;
	height:60px;
	border:1px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:10px 10px 18px 5px #1bf514;
	box-shadow:inset 0px 4px 10px 5px #d417b1;
	margin-top:20px;	
	margin-bottom:40px;
	margin-left:300px;
	
	font-size:20px;
	font-weight:bold;
	
	cursor:pointer;
}