.main{
	margin:0px;
	padding:0px;	
	width:100%;
	height:100%;
    display:flex;
    margin:center;
    background-color:#849701;}
	
.buttonbox{
	width:70%;
    height:70%;
    display:flext;
    margin:auto;
	margin-top:50px;
	background-color:purple;
}

.button{
	width:300px;
	height:60px;
	border:1px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:20px;	
	margin-left:20px;	
	font-size:20px;
	font-weight:bold;
	
	cursor:pointer;
}