.main{
	margin:40px;
	padding:20px;
	max-width:1320px;
	max-width:720px;
	height:600px;
    display:flex;
    margin:center;
    background-color:#849701;
	background-image:url('https://cdn11.bigcommerce.com/s-x49po/images/stencil/1500x1500/products/59598/277381/1613540696201_Ek_sloki_Ramayan__52002.1687410275.jpg?c=2&imbypass=on');
	background-size:cover;
	background-repeat:no-repeat;}
	
.buttonbox{
	width:300px;
    height:500px;
    display:flext;
    margin:auto;
}

.button{
	width:300px;
	height:50px;
	border:1px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:50px;	
	font-size:20px;
	font-weight:bold;
	
	cursor:pointer;
}