.main{
	padding:0px;
	margin:0px;
}
.buttonbox{
	min-width:180px;
	width:100%;
    height:1000px;
    display:flext;
    margin:auto;
	alignment:center;
background-image: url('https://i.pinimg.com/736x/2b/8d/ab/2b8dabe1b95c468c4e163a1e85c15391.jpg');

}
.button{
	width:100%;
	height:200px;
	border:1px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:50px;
	margin-left:300px;
	margin-right:300px;
	margin-top:50px;	
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
}

.quizzbtn{
	max-width:1320px;
min-width:200px;
height:500px;
border-left:2px solid red;
border-right:2px solid #15ed27;
border-top:2px solid #ed1548;
border-bottom:2px solid red;
display:flex;
background-color:red;}
	
.quizesbody{
border-left:2px solid red;
border-right:2px solid #15ed27;
border-top:2px solid #ed1548;
border-bottom:2px solid yellow;
display:flex;
margin:auto;
background-color:red;}

.quizesbox{
	width:100%;
	height:700px;
	font-weight:35px;
	font-size:60px;
border-left:2px solid red;
border-right:2px solid #15ed27;
border-top:2px solid #ed1548;
border-bottom:2px solid yellow;
	box-shadow:20px 20px 10px 5px white;
	box-shadow:inset 0px 4px 20px 5px blue;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6HRdIAVOlIsMyyje0MAxeeNP-VpgJGLEG5A&s');
background-size:cover;
color:white;
margin:auto;
background-color:white;}
.heading{
	width:300px;
	height:50px;
}
.option{
height:50px;
border:2px solid black;}
.nextbtn{
	width:300px;
	height:60px;
	border:1px double red;
	background-color:#2431bf;
	border-radius:8px;
	box-shadow:20px 20px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
    margin:auto;
    display:flex;	
	font-size:20px;
	font-weight:bold;
	color:#24bf46;

	cursor:pointer;}



